@using System.Text
@using BudgetTrackerApp.Data
@using BudgetTrackerApp.Services
@using Microsoft.EntityFrameworkCore
@inject BudgetTrackerApp.Data.Services.CompteCourantService CompteService
@inject IDbContextFactory<AppDbContext> DbFactory

@inject DatabaseSelectorService DbSelector

@rendermode InteractiveServer


<h2>Importer un fichier</h2>

<InputFile OnChange="HandleFileSelected" />

<table class="table">
    <tbody>
        <tr>
            <td>Status :</td>
            <td>@message</td>
        </tr>
        <tr>
            <td>Fichier :</td>
            <td>@messageFichier</td>
        </tr>
        <tr>
            <td>Parser :</td>
            <td>@messageParser</td>
        </tr>
        <tr>
            <td>Nombre opérations lues :</td>
            <td>@messageNbOperationsLues</td>
        </tr>
        <tr>
            <td>Nombre opérations ajoutées :</td>
            <td>@messageNbOperationsAjoutees</td>
        </tr>
        <tr>
            <td>Date opération la plus ancienne :</td>
            <td>@messageDatePlusAncienne</td>
        </tr>
        <tr>
            <td>Date opération la plus récente :</td>
            <td>@messageDatePlusRecente</td>
        </tr>
        <tr>
            <td>Durée du traitement :</td>
            <td>@messageTempsEcoule</td>
        </tr>
        <tr>
            <td>Base de données :</td>
            <td>@messageDatabase</td>
        </tr>
    </tbody>
</table>

@code {
    private string message = "";
    private string messageFichier = "";
    private string messageParser = "";
    private string messageNbOperationsLues = "";
    private string messageNbOperationsAjoutees = "";
    private string messageDatePlusAncienne = "";
    private string messageDatePlusRecente = "";
    private string messageTempsEcoule = "";
    private string messageDatabase = "";

    private DateTime DateTimeDebut;

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;

        message = "En cours...";

        messageTempsEcoule = "";

        messageNbOperationsLues = "0";
        messageNbOperationsAjoutees = "0";
        messageDatabase = "";
        messageDatePlusRecente = "";
        messageDatePlusAncienne = "";

        DateTimeDebut = DateTime.UtcNow;

        messageFichier = file.Name.ToString();

        try
        {          
            Console.WriteLine("Ouverture du fichier");
            using var originalStream = file.OpenReadStream();
            using var memoryStream = new MemoryStream();
            await originalStream.CopyToAsync(memoryStream);

            // Remettre la position au début
            memoryStream.Position = 0;

            string? textContent = null;
            
            Console.WriteLine("Test extension");
            if (file.Name.EndsWith(".csv", StringComparison.OrdinalIgnoreCase))
            {
                using var reader = new StreamReader(memoryStream, Encoding.UTF8);
                textContent = await reader.ReadToEndAsync();

                // remettre le stream au début si tu veux le réutiliser
                memoryStream.Position = 0;
            }

            Console.WriteLine("Création ParserInputContext");
            var ctx = new ParserInputContext
            {
                FileStream = memoryStream,
                TextContent = textContent,
                FileName = file.Name,
                ContentType = file.ContentType
            };

            // Déterminer banque → choisir bon parser
            Console.WriteLine("Détection du parser du fichier");
            var parser = ParserFactory.GetParser(ctx);

            messageParser = parser.BankName;

            if (parser == null)
            {
                message = "Parser non initialisé";
                Console.WriteLine("Fin");
                messageTempsEcoule = (DateTime.UtcNow - DateTimeDebut).ToString();
                return;
            }
                
            // Parser et transformer données
            Console.WriteLine("Parsing du fichier");
            // création du TextReader à partir de la chaîne
            List<Data.OperationCC>? Operations = parser.Parse(ctx);

            if (Operations == null)
            {
                message = "Pas d'opérations trouvées (null)";
                Console.WriteLine("Fin");
                messageTempsEcoule = (DateTime.UtcNow - DateTimeDebut).ToString();
                return;
            }

            if (!Operations.Any())
            {
                message = "Pas d'opérations trouvées (null)";
                messageNbOperationsLues = "0";
                Console.WriteLine("Fin");
                messageTempsEcoule = (DateTime.UtcNow - DateTimeDebut).ToString();
                return;
            }
            else
                messageNbOperationsLues = $"{Operations.Count.ToString()}";

            
            using var db = DbFactory.CreateDbContext();

            messageDatabase = db.Database.GetDbConnection().DataSource;

            // 1️⃣ Charger tous les hash existants dans la base
            var existingHashes = db.Operations
                .Select(o => o.Hash)
                .ToHashSet();

            Console.WriteLine($"Hashes : {existingHashes.Count}");

            // 2️⃣ Filtrer les nouvelles opérations
            var filteredOps = Operations
                .Where(op => !existingHashes.Contains(op.Hash))
                .ToList();

            Console.WriteLine($"filteredOps.Count : {filteredOps.Count}");

            // 3️⃣ Ajouter les opérations filtrées dans la base
            db.Operations.AddRange(filteredOps);
            db.SaveChanges();

            message = $"Import terminé";
            Console.WriteLine($"message : {message}");
            messageNbOperationsAjoutees = $"{filteredOps.Count}";

            messageDatePlusAncienne = filteredOps.Min(o => o.Date) ?? "N/A";
            messageDatePlusRecente = filteredOps.Max(o => o.Date) ?? "N/A";
            
        }
        catch(Exception ex)
        {
            Console.WriteLine($"Erreur: {ex.Message}");
            message = $"Erreur: {ex.Message}";

            Console.WriteLine("Fin");
            messageTempsEcoule = (DateTime.UtcNow - DateTimeDebut).ToString();
        }

        Console.WriteLine("Fin");
        messageTempsEcoule = (DateTime.UtcNow - DateTimeDebut).ToString();

        
    }
}