@using System.Text
@inject BlazorApp.Data.Services.CompteCourantService CompteService
@inject BlazorApp.Data.AppDbContext dbContext

@rendermode InteractiveServer


<h2>Importer un fichier</h2>

<InputFile OnChange="HandleFileSelected" />

<table class="table">
    <tbody>
        <tr>
            <td>Status :</td>
            <td>@message</td>
        </tr>
        <tr>
            <td>Fichier :</td>
            <td>@messageFichier</td>
        </tr>
        <tr>
            <td>Parser :</td>
            <td>@messageParser</td>
        </tr>
        <tr>
            <td>Nombre opérations lues :</td>
            <td>@messageNbOperationsLues</td>
        </tr>
        <tr>
            <td>Nombre opérations ajoutées :</td>
            <td>@messageNbOperationsAjoutees</td>
        </tr>
        <tr>
            <td>Durée du traitement :</td>
            <td>@messageTempsEcoule</td>
        </tr>
    </tbody>
</table>

@code {
    private string message = "";
    private string messageFichier = "";
    private string messageParser = "";
    private string messageNbOperationsLues = "";
    private string messageNbOperationsAjoutees = "";
    private string messageTempsEcoule = "";

    private DateTime DateTimeDebut;

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;

        message = "En cours...";

        messageTempsEcoule = "";

        DateTimeDebut = DateTime.UtcNow;

        messageFichier = file.Name.ToString();

        try
        {
            Console.WriteLine("Ouverture du fichier");
            using var stream = file.OpenReadStream();
            using var reader = new StreamReader(stream, System.Text.Encoding.UTF8);

            Console.WriteLine("Lecture du fichier");
            var content = await reader.ReadToEndAsync();
            
            message = $"Longueur du contenu: {content.Length}";

            // Déterminer banque → choisir bon parser
            Console.WriteLine("Détection du parser du fichier");
            var parser = BanqueCsvParserFactory.GetParser(content);

            messageParser = parser.BankName;

            if (parser == null)
            {
                message = "Parser non initialisé";
                return;
            }
                
            // Parser et transformer données
            Console.WriteLine("Parsing du fichier");
            // création du TextReader à partir de la chaîne
            using var stringReader = new StringReader(content);
            List<Data.OperationCC>? Operations = parser.ParseCsv(stringReader);

            if (Operations == null)
            {
                message = "Pas d'opérations trouvées (null)";
                return;
            }

            if (!Operations.Any())
            {
                messageNbOperationsLues = "0";
                return;
            }
            else
                messageNbOperationsLues = $"{Operations.Count.ToString()}";

            // 1️⃣ Charger tous les hash existants dans la base
            var existingHashes = dbContext.Operations
                .Select(o => o.Hash)
                .ToHashSet();

            Console.WriteLine($"Hashes : {existingHashes.Count}");

            // 2️⃣ Filtrer les nouvelles opérations
            var filteredOps = Operations
                .Where(op => !existingHashes.Contains(op.Hash))
                .ToList();

            Console.WriteLine($"filteredOps.Count : {filteredOps.Count}");

            // 3️⃣ Ajouter les opérations filtrées dans la base
            dbContext.Operations.AddRange(filteredOps);
            dbContext.SaveChanges();

            message = $"Import terminé";
            Console.WriteLine($"message : {message}");
            messageNbOperationsAjoutees = $"{filteredOps.Count}";
            
        }
        catch(Exception ex)
        {
            Console.WriteLine($"ERREUR CSV: {ex.Message}");
            message = $"Erreur: {ex.Message}";
        }

        Console.WriteLine("Fin");
        messageTempsEcoule = (DateTime.UtcNow - DateTimeDebut).ToString();

        
    }
}