@inject BlazorApp.Data.Services.CompteCourantService CompteService

<button class="btn btn-primary" @onclick="LoadOperations">Click me</button>

@if (listeOperations == null)
{
    <p>Chargement...@message...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Montant</th>
                <th>Type</th>
                <th>Commentaire</th>
                <th>Banque</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var operation in listeOperations)
            {
                <tr>
                    <td>@operation.Date</td>
                    <td>@operation.Description</td>
                    <td>@operation.Montant</td>
                    <td>@operation.Type</td>
                    <td>@operation.Commentaire</td>
                    <td>@operation.Banque</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<BlazorApp.Data.OperationCC>? listeOperations;

    private string message = "";

    private void LoadOperations(MouseEventArgs e)
    {
        message = $"text";
        // Lecture de la première ligne dans la table
        // listeOperations = CompteService.GetAllAsync();
    }
}
