@page "/operationseditor"
@using BlazorApp.Data
@using BlazorApp.Services
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer
@inject DatabaseSelectorService DbSelector

@inject IDbContextFactory<AppDbContext> DbFactory


<h1>Edition d'opérations</h1>

<select class="form-select" @bind="SelectedValue" @bind:after="OnOptionChanged" >
    <option value="A">Opérations avec Type manquant</option>
    <option value="B">Chèques uniquement</option>
    <option value="C">Dernier import</option>
</select> 

<button class="btn btn-primary btn-sm" @onclick="() => Refresh()"> Refresh </button>

<p>@TextResult</p>

@if (IsLoading)
{
    <div class="alert alert-info">Chargement des opérations...</div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th class="text-end">Montant</th>
                <th>Type</th>
                <th></th>
                <th>Commentaire</th>
                <th>Banque</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var op in resultatOperations)
            {
                <tr>
                    <td>@op.Date</td>
                    <td>@op.Description</td>
                    <td class="text-end @(op.Montant < 0 ? "text-danger" : "text-success")">
                        @op.Montant.ToString("N2")
                    </td>
                    <td>
                        <select value="@op.Type"
                                        @onchange="(e) => OnTypeChanged(e, op)"
                                        class="form-select">
                            <option value=""></option>
                            <option value="Revenu">Revenu</option>
                            <option value="Cadeaux reçus">Cadeaux reçus</option>
                            <option value="Investissement">Investissement</option>
                            <option value="Prêt">Prêt</option>
                            <option value="Courses">Courses</option>
                            <option value="Travaux">Travaux</option>
                            <option value="Loisir">Loisir</option>
                            <option value="Vacances">Vacances</option>
                            <option value="Transport">Transport</option>
                            <option value="Factures">Factures</option>
                            <option value="Vêtements">Vêtements</option>
                            <option value="Cadeaux">Cadeaux</option>
                            <option value="Santé">Santé</option>
                            <option value="Autres">Autres</option>
                            <option value="Maison/Equip">Maison/Equip.</option>
                            <option value="Neutre">Neutre</option>
                        </select>
                    </td>
                    <td>
                        @if (op.IsModified)
                        {
                            <button class="btn btn-primary btn-sm" @onclick="() => SaveType(op)">
                                Enregistrer
                            </button>
                        }
                    </td>
                    <td>
                        <input value="@op.Commentaire" @onchange="(e) => SaveComment(e, op)"/></td>
                    <td>@op.Banque</td>
                </tr>
            }
        </tbody>
    </table>
}



@code {

    private string SelectedValue { get; set; } = "";

    // Indicate to UI that operations are loading
    private bool IsLoading { get; set; } = false;


    private Dictionary<string, Func<Task>> actions = new();
    private string TextResult = "";

    public List<OperationCC> resultatOperations { get; set; } = new();

    protected override void OnInitialized()
    {
        actions = new Dictionary<string, Func<Task>>
        {
            { "A", FiltrerTypeManquant },
            { "B", FiltrerCheques },
            { "C", FiltrerDernierImport }
        };

        // 🔥 On s’abonne pour être notifié du changement
        DbSelector.OnChange += RefreshOnChange;
    }

    private void OnOptionChanged()
    {
        Console.WriteLine($"SelectedValue (après bind) = {SelectedValue}");
        
        if (actions.TryGetValue(SelectedValue, out var action))
        {
            action.Invoke();
        }
    }

    private async Task FiltrerTypeManquant()
    {
        IsLoading = true;
        resultatOperations = new List<OperationCC>();
        StateHasChanged(); // rafraîchi l’UI immédiatement

        await Task.Run(() =>
        {

            using var db = DbFactory.CreateDbContext();

            var operations = db.Operations
            .Where(op => string.IsNullOrEmpty(op.Type))
            @* .Select(op => new
            {
                Date = DateTime.Parse(op.Date),
                Banque = op.Banque
            }) *@
            .ToList();

            resultatOperations = operations.Select(TraiterOperation).ToList();
        });
        
        TextResult = $"{resultatOperations.Count} opérations sans Type trouvées dans la BDD {DbSelector.CurrentDatabase}";
        IsLoading = false;
        await InvokeAsync(StateHasChanged);
    }

    private string GetAutoCategory(OperationCC op)
    {
        if (op.Description == null)
            throw new ArgumentNullException(nameof(op));

        if (op.Description.Contains("PRLV ECOLE SAINT PAVIN", StringComparison.OrdinalIgnoreCase))
            return "Factures";

        if (op.Description.Contains("GOOGLE", StringComparison.OrdinalIgnoreCase)
            || op.Description.Contains("Deezer"))
            return "Loisir";

        if (op.Description.Contains("Appro remboursement Pret", StringComparison.OrdinalIgnoreCase))
            return "Prêt";

        if (op.Description.Contains("REMBOURSEMENT DE PRET", StringComparison.OrdinalIgnoreCase))
            return "Prêt";
        
        if (op.Description.Contains("PRLV YOUPRICE-YOU PRICE", StringComparison.OrdinalIgnoreCase))
            return "Factures";

        if (op.Description.Contains("PRLV TotalEnergies Electricite e", StringComparison.OrdinalIgnoreCase))
            return "Factures";

        if (op.Description.Contains("PRLV GAN ASS ENC PREL CLIENT", StringComparison.OrdinalIgnoreCase))
            return "Factures";

        if (op.Description.Contains("HELLOASSO* ADHES 33130 BEGLES", StringComparison.OrdinalIgnoreCase))
            return "Loisir";

        if (op.Description.Contains("VIR MR OU MME GUY BOULESTEIX", StringComparison.OrdinalIgnoreCase) && (op.Montant == 150))
            return "Revenu";

        if (op.Description.Contains("PRLV SFR", StringComparison.OrdinalIgnoreCase) && (op.Montant == -21.98))
            return "Factures";
        
        if (op.Description.Contains("FAMILEO.COM Paris", StringComparison.OrdinalIgnoreCase))
            return "Cadeaux";
        
        return "";
    }

    private void OnTypeChanged(ChangeEventArgs e, OperationCC op)
    {
        Console.WriteLine($"Changement Type");
        op.Type = e.Value?.ToString();
        op.IsModified = true;
    }


    private async Task FiltrerCheques()
    {
        IsLoading = true;
        resultatOperations = new List<OperationCC>();
        StateHasChanged(); // rafraîchi l’UI immédiatement

        await Task.Run(() =>
        {
            using var db = DbFactory.CreateDbContext();

            var operations = db.Operations
            .Where(op =>
                op.Description != null &&
                (op.Description.ToUpper().Contains("CHEQUE EMIS") || op.Description.ToUpper().Contains("CHQ ")) &&
                string.IsNullOrEmpty(op.Type))
            .ToList();

            resultatOperations = operations.Select(TraiterOperation).ToList();
        });

        TextResult = $"{resultatOperations.Count} Cheques sans Type trouvés dans la BDD {DbSelector.CurrentDatabase}";
        IsLoading = false;
        await InvokeAsync(StateHasChanged);
    }

    private async Task FiltrerDernierImport()
    {
        IsLoading = true;
        resultatOperations = new List<OperationCC>();
        StateHasChanged(); // rafraîchi l’UI immédiatement
        
        string lastDateImport="";

        await Task.Run(() =>
        {
            using var db = DbFactory.CreateDbContext();
            
            // Get the latest import date
            var lastDateImport = db.Operations.Max(op => op.DateImport);

            var operations = db.Operations
            .Where(op =>
                op.DateImport == lastDateImport)
            .ToList();

            resultatOperations = operations.Select(TraiterOperation).ToList();
        });

        TextResult = $"{resultatOperations.Count} opérations dans l'import le plus récent du {lastDateImport} dans la BDD {DbSelector.CurrentDatabase}";
        IsLoading = false;
        await InvokeAsync(StateHasChanged);

    }

    private OperationCC TraiterOperation(OperationCC op)
    {
        if (string.IsNullOrEmpty(op.Type))
        {
            op.Type = GetAutoCategory(op);

            if (!string.IsNullOrEmpty(op.Type))
            {
                op.IsModified = true;
            }
        }

        return op;
    }

    private void Refresh()
    {
        if (actions.TryGetValue(SelectedValue, out var action))
        {
            action.Invoke();
        }
    }

    private async Task SaveType(OperationCC op)
    {
        using var db = DbFactory.CreateDbContext();

        var entity = await db.Operations.FirstAsync(x => x.Id == op.Id);

        entity.Type = op.Type;

        await db.SaveChangesAsync();

        // En UI : plus considéré comme modifié
        op.IsModified = false;
    }

    private async Task SaveComment(ChangeEventArgs e, OperationCC op)
    {
        Console.WriteLine($"Changement Commentaire");
        op.Commentaire = e.Value?.ToString();
        
        using var db = DbFactory.CreateDbContext();

        var entity = await db.Operations.FirstAsync(x => x.Id == op.Id);

        entity.Commentaire = op.Commentaire;

        await db.SaveChangesAsync();

    }

    private Task RefreshOnChange()
    {
        if (actions.TryGetValue(SelectedValue, out var action))
        {
            action.Invoke();
        }

        // 🔥 Important : on repasse sur le thread UI
        return InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        // 🔥 Toujours se désabonner pour éviter les fuites mémoire
        DbSelector.OnChange -= RefreshOnChange;
    }
}