@page "/dashboardcomptecourant"
@rendermode InteractiveServer

@using BudgetTrackerApp.Data
@using BudgetTrackerApp.Data.Services
@using Microsoft.EntityFrameworkCore;

@using BudgetTrackerApp.Components.Shared
@using BudgetTrackerApp.Components.Features.ComptesCourant
@inject FiltersState Filters
@inject AppDbContext Db

<DateFilters />
<AccountFilter />
<button class="btn btn-primary" @onclick="GetOperations">Click me</button>

<p>Message : @message</p>

@if (operations == null)
{
    
}
else
{
    <table class="table">
        @foreach (var op in operations)
        {
            <tr>
                <td>@op.Date</td>
                <td>@op.Description</td>
                <td>@op.Montant</td>
                <td>@op.Banque</td>
                <td>@op.Categorie</td>
            </tr>
        }
    </table>
}

@code {
    List<OperationCC>? operations;

    private string message ="";

    protected override void OnInitialized()
    {
        @* Filters.OnChange += LoadData;
        LoadData(); *@
    }

    private void GetOperations(MouseEventArgs e)
    {
        Console.WriteLine("Click");
        message = $"Filtre = du {Filters.StartDate} au {Filters.EndDate} pour {Filters.Account}";
        LoadData();
    }

    async void LoadData()
    {
        var start = Filters.StartDate;
        var end = Filters.EndDate;
        var account = Filters.Account;
        var type = Filters.OperationType;

        Console.WriteLine($"start = {start}");
        Console.WriteLine($"end = {end}");
        Console.WriteLine($"account = {account}");

        operations = await Db.Operations
            .Where(o =>
               DateTime.Parse(o.Date) >= start &&
               DateTime.Parse(o.Date) <= end &&
               // (account == null || o.Banque == account) &&
               (type == null || o.Categorie == type)
            )
            .OrderBy(o => o.Date)
            .ToListAsync();

        StateHasChanged();
    }
}
